
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>StudentSyncBlazor</PageTitle>

<!-- Begin page -->
<div id="layout-wrapper">


    <TopBar />
    <SideBar /> 
    <div class="main-content">  

        <div class="page-content">
            <div class="container-fluid">
                @Body
            </div>
        </div>

        <Footer></Footer>
    </div>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1).ContinueWith(async T =>
            {
                // Do work to load page data and set properties
                await JSRuntime.InvokeVoidAsync("init");
            });
        }
    }
}


